<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
    <th:block th:include="fragments/head :: head"/>
 </head>
 <body class="homepage">
	<div id="page-wrapper">
		<!-- Header -->
		<div id="header-wrapper">
			<header id="header" class="container">
				<!-- Nav -->
				<th:block th:include="fragments/nav :: nav"/>
			</header>
		</div>
   		<!-- Login options -->
	    <div id="wrapper">
			<div class="join">Login</div>
		   	<div class="lock"></div>
		    <div class="clr"></div>
	    	<div class="login-options">Choose on of the following login methods.</div>
	       	<a class="twitter" href="/twitterLogin">Twitter</a>
	       	<a class="linkedin" href="/linkedinLogin">Linked In</a>
	        <a class="google" href="/googleLogin">Google+</a>
	        <div class="clr"><hr /></div>
	        <div class="mail-text">Or login using your staff credentials.</div>
			<a class="create-acc" href="/loginStaff">Login as Airline staff</a>
		</div>
	</div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
